// PRIMARY COLORS

// SECUNDARY COLORS
$white: #fff;
$black: #202020;

// GREY SCALE
$grey-50: #f8fafc;
$grey-100: #f3f5f7;
$grey-200: #ebedef;
$grey-300: #dddfe1;
$grey-400: #babcbe;
$grey-500: #9b9d9f;
$grey-600: #727476;
$grey-700: #5e6062;
$grey-800: #3f4143;
$grey-900: #1f2021;

//FEEDBACK COLORS
$success: #005d3f;
$error: #ff283c;
$warning: #f5cd47;
